{% extends 'base.html' %}

{% block title %}Upload Video{% endblock %}

{% block content %}
    <h2>Upload Video for Object Detection</h2>
    <form id="upload-form" action="{{ url_for('video.detect_objects') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="video" accept=".mp4">
        <input id="upload-button" type="submit" value="Upload and Detect Objects">
    </form>
    <div id="processing-animation" style="display: none;">
        <img src="{{ url_for('static', filename='loading.gif') }}" alt="Processing Animation">
        <p>Processing...</p>
    </div>
    <div id="detection-results">
        {% if results %}
        <h3>Detection Results</h3>
        <ul>
            {% for result in results %}
            <li>{{ result }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <script>
        const uploadForm = document.getElementById('upload-form');
        const uploadButton = document.getElementById('upload-button');
        const processingAnimation = document.getElementById('processing-animation');

        uploadForm.addEventListener('submit', () => {
            uploadButton.style.display = 'none';
            processingAnimation.style.display = 'block';
        });
    </script>
{% endblock %}
